{% extends "base.html" %} 
{% load static %}
{% block body %}
		
	
		<!-- Breadcrumbs -->
		<div class="breadcrumbs overlay">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<div class="col-12">
							<h2>About Us</h2>
							<ul class="bread-list">
								<li><a href="index.html">Home</a></li>
								<li><i class="icofont-simple-right"></i></li>
								<li class="active">About Us</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Breadcrumbs -->
        <!-- a-out -->
		<section class="why-choose section" >
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-12">
						<!-- Start Choose Left -->
						<div class="choose-left">
							<h3>About <span style="color:#75b519;">Zoviko Health Care</span></h3>
							<p>Zoviko Health Care Pvt Ltd is Sister Concerns firm of Neha Nurses Bureau was established in 2002 by Mr. Mintu Kumar. Neha Nurses Bureau is a Noida based nursing agency, which was launched with the mission of helping the patients by providing them the best nursing care.</p>
							<p>Neha Nurses Bureau is a leading nursing agency in Delhi-NCR. We are offering Patient Care, Male &amp;Female Nurses Attendants, New Born Baby Care, Mother Care, Ayahs, Old Ages Care, and Physiotherapist. We are known for providing quality personals, who offer unmatched services to our clients. Customer satisfaction is our sole motto and we endeavor to consistently improve our quality of services to accommodate the changing needs of our clients.We have recruited a team of extremely well trained and well equipped staff who have meticulous medical knowledge. We have also trained them to be punctual so that they can fulfill their responsibilities within the stipulated schedule.</p>
							
							
						</div>
						<!-- End Choose Left -->
					</div>
					<div class="col-lg-6 col-12">
						<!-- Start Choose Rights -->
						<div class="choose-right">
							<div class="video-image">
								<!-- Video Animation -->
								<div class="promo-video">
									<div class="waves-block">
										<div class="waves wave-1"></div>
										<div class="waves wave-2"></div>
										<div class="waves wave-3"></div>
									</div>
								</div>
								<!--/ End Video Animation -->
								<img src="{% static 'img/2.jpg'	%}" alt="welcome">
								
							</div>
						</div>
						<!-- End Choose Rights -->
					</div>
				</div>
			</div>
		</section>
		<!--/ a-out -->

        
		<!-- Start Fun-facts -->
		<div id="fun-facts" class="fun-facts section overlay">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Fun -->
						<div class="single-fun">
							<i class="icofont icofont-home"></i>
							<div class="content">
								<span class="counter">3468</span>
								<p>Hospital Rooms</p>
							</div>
						</div>
						<!-- End Single Fun -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Fun -->
						<div class="single-fun">
							<i class="icofont icofont-user-alt-3"></i>
							<div class="content">
								<span class="counter">557</span>
								<p>Specialist Doctors</p>
							</div>
						</div>
						<!-- End Single Fun -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Fun -->
						<div class="single-fun">
							<i class="icofont-simple-smile"></i>
							<div class="content">
								<span class="counter">4379</span>
								<p>Happy Patients</p>
							</div>
						</div>
						<!-- End Single Fun -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Fun -->
						<div class="single-fun">
							<i class="icofont icofont-table"></i>
							<div class="content">
								<span class="counter">32</span>
								<p>Years of Experience</p>
							</div>
						</div>
						<!-- End Single Fun -->
					</div>
				</div>
			</div>
		</div>
		<!--/ End Fun-facts -->

			
		<!-- Start Call to action -->
		<section class="call-action overlay" data-stellar-background-ratio="0.5"	style="background: #75b519;">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-12">
						<div class="content">
							<h2>Do you need Emergency Medical Care? Call @ 1234 56789</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque porttitor dictum turpis nec gravida.</p>
							<!--<div class="button">
								<a href="#" class="btn">Contact Now</a>
								<a href="#" class="btn second">Learn More<i class="fa fa-long-arrow-right"></i></a>
							</div>-->
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Call to action -->
		
		<!--area -->
		<section>
			<div class="container">
				<div class="row">
					<div	class="padig">
						<div class="col"	id="area">
							<h5>Greater Noida</h5>
						</div>
					</div>
					<div	class="padig">
						<div class="col"	id="area">
							<h5>Noida</h5>
						</div>
					</div>
					<div	class="padig">
						<div class="col"	id="area">
							<h5>Delhi NCR</h5>
						</div>
					</div>
				</div>
				<div class="row">
					<div	class="padig">
						<div class="col"	id="area">
							<h5>Meerut</h5>
						</div>
					</div>
					<div	class="padig">
						<div class="col"	id="area">
							<h5>Uttar Pradesh</h5>
						</div>
					</div>
					<div	class="padig">
						<div class="col"	id="area">
							<h5>Faridabad</h5>
						</div>
					</div>
				</div>
				<div class="row">
					<div	class="padig">
						<div class="col"	id="area">
							<h5>Lucknow</h5>
						</div>
					</div>
					<div	class="padig">
						<div class="col"	id="area">
							<h5>Ghaziabad</h5>
						</div>
					</div>
					<div	class="padig">
						<div class="col"	id="area">
							<h5>West Delhi</h5>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ area -->




		

































				
		
		
		{% endblock body %}